* {
    padding: 0;
    margin: -16px;
}

body {
    width: 100%;
}

.container {
    width: 100%;
}

.header {
    height: 104px;
    border-bottom: 1px solid #D4D4D4;
}
.nav, 
.nav_header, 
.sub_menu {
    height: 100%;
}
.logo {
    margin-right: 34px; 
    padding: 35px 34px;
    border-right: 1px solid #D4D4D4;
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
    color: #5671F6;
}
.logo h2 {
    padding-right: 34px;
}
.search {
    margin-right: auto;
}
.search img {
    margin-right: 22px;
}
.sub_menu {
    display: flex;
    align-items: center;
}
.sub_menu_list1, 
.sub_menu_list2 {
    display: flex;
    align-items: center;
    height: 100%;
}
.sub_menu_list1 a, 
.sub_menu_list2 a {
    text-decoration: none;
}
.sub_menu_list1 a {
    margin-right: 18px;
    font-size: 18px;
    line-height: 21px;
    color: #363636;
}
.sub_menu_list2 {
    padding-left: 34px;
    border-left: 1px solid #D4D4D4;
}
.registration {
    margin-right: 34px;
}
.registration a {
    color: #5671F6;
}
.log-in {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 151px;
    height: 104px;
    background-color: #5671F6;
}
.log-in a{
    color: white;
}
.description {
    display: flex;
    margin: 82px 0 0 202px;
}
.description img {
    margin-left: 22px;
}
.flex {
    margin-left: 13px;
}
.hunters {
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 900;
    color: #363636;
}
.flex h4 {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 21px;
    color: #A5A5A5;
}
.plot {
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 21px;
}
.info {
    display: grid;
    grid-template-columns: 260px 210px;
    margin-bottom: 27px;
}
.text {
    display: grid;
    grid-template-columns: 100px 160px;
    margin-bottom: 16px;
}
.text p,
.text h2 {
    font-size: 16px;
    line-height: 19px;
}
.text h2 {
    font-weight: bold;
}
.rating {
    display: flex;
}
.rectangle {
    width: 100px;
    height: 100px;
    margin-right: 16px;
    border: 1px solid #5671F6;
    border-radius: 10px;
}
.rectangle p {
    text-align: center;
    margin-top: 34px;
    font-size: 28px;
    line-height: 33px;
    font-weight: bold;
    color: #5671F6;
}
.rate {
    margin-bottom: 10px;
}
.rate h1 {
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
}
.rate p {
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 19px;
}
.bold {
    font-weight: bold;
}
.play {
    width: 358px;
    margin-top: 45px;
    margin-left: 222px;
    border: 1px solid #D4D4D4;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.play-rectangle {
    display: flex;
    align-items: center;
    margin: 25px 81px;
}
.play-rectangle a {
    margin-left: 14px;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #5671F6;
}
#hr {
    margin: 153px 0 70px 0;
}

/*actor*/
.wrapper {
    display: flex;
    margin-bottom: 60px;
}
h3 {
    margin-right: 30px;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}
.wrapper h4 {
    font-size: 24px;
    line-height: 28px;
    color: #A5A5A5;
}
.actor {
    width: 85%;
    margin-left: 153px;
}
.roles {
    display: grid;
    grid-template-columns: repeat(4, 26%);
    margin-bottom: 100px;
}
.actors {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.actors img {
    margin-right: 20px;
}
.wrapper-actors {
    display: grid;
}
h5 {
    margin-bottom: 6px;
}

/*news*/

.news {
    background-color: #F3F3F3;
}

.news h1 {
    padding: 70px 0 65px 153px;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #000000;
}
.news-block {
    display: flex;
    margin-left: 153px;
}
.frame {
    margin-bottom: 100px;
}
.frame-text {
    width: 48%;
    margin-right: 30px;
    padding: 30px;
    background-color: #fff;
}
.frame-text h6 {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 16px;
}
.frame-text p {
    font-size: 14px;
    line-height: 16px;
}

/*@media*/
@media (max-width: 1100px) {
    .burger-menu {
        display: block;
        position: absolute;
        width: 30px;
        height: 1px;
        background-color:#363636;
        top: 32px;
        right: 28px;
        border: none;
    }
    .burger-menu::before {
        content: '';
        display: block;
        position: absolute;
        width: 30px;
        height: 1px;
        background-color:#363636;
        right: 0px;
        margin-top: -8px;
    }
    .burger-menu::after {
        content: '';
        display: block;
        position: absolute;
        width: 30px;
        height: 1px;
        background-color:#363636;
        right: 0px;
        margin-top: 8px;
    }
    .burger-menu:active {
        height: 0;
    }
    .sub_menu_list1 {
        display: none;
        position: absolute;
        width: 375px;
        height: 80%;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #5671F6;
        margin-top: 85px;
        margin-right: 26px;
    }
    .sub_menu_list1 ._active {
        display: block;
    }
    .sub_menu_list1 a {
        color: white;
        margin-bottom: 18px;
    }
    .sub_menu_list1 a:first-child {
        padding-top: 131px;
    }
    .sub_menu_list1 a:nth-child(4) {
        border-bottom: 1px solid #D4D4D4;
        padding-bottom: 66px;
    }
    .sub_menu_list2 {
        flex-direction: column;
        justify-content: center;
        border-left: none;
    }    
    .logo {
        border-right: none;
    }
    #movie-search {
        display: none;
    }
    .log-in {
        margin-right: 30px;
        background-color: transparent;
    }
    .log-in a:first-child {
        padding-top: 0px;
    }
    .flex {
        margin: 0;
        margin-left: 28px;
    }
    .description {
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .play {
        margin-left: 28px;
    }
    .actor {
        margin-left: 28px;
    }
    .roles {
        display: block;
    }
    .news h1 {
        padding: 70px 0 65px 28px;
    }
    .news-block {
        margin-left: 28px;
    }

}

